<ion-header>

  <ion-navbar color="primary">
    <ion-title>Sign In</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="logo-container">
    <img src="assets/imgs/shop-icon.png" alt="">

    <h4>Login in with social network</h4>

    <ion-grid class="button-group">
      <ion-row>
        <ion-col>
          <button ion-button block color="facebook" (click)="fbLogin()">Facebook</button>
        </ion-col>
        <ion-col>
          <button ion-button block color="google" (click)="googleLogin()">Google+</button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <hr style="background-color: #363563; opacity: .7;">
        </ion-col>
        <ion-col width-10 style="color: #363563; font-weight: bold; opacity: .8;">
          OR
        </ion-col>
        <ion-col>
          <hr style="background-color: #363563; opacity: .7;">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="login-container">
    <form novalidate [formGroup]="loginForm">

      <!--  -->
      <input type="text" name="username" style="display: none !important">
      <input type="password" name="password" style="display: none !important">
      <!--  -->

      <div *ngIf="errMsg" class="api-error" no-wrap>
        <p [innerHTML]="errMsg"></p>
      </div>

      <ion-list>

        <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input type="text" [(ngModel)]="username" formControlName="username" required></ion-input>
        </ion-item>
        <div *ngIf="submitted && loginForm.controls.username.hasError('required')"
          class="error-container">
          <p class="error-text">username is required</p>
        </div>

        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" [(ngModel)]="password" formControlName="password"></ion-input>
        </ion-item>
        <div *ngIf="submitted && loginForm.controls.password.errors" class="error-container">
          <p *ngIf="loginForm.controls.password.errors.required" class="error-text">password is required</p>
          <p *ngIf="loginForm.controls.password.errors.minlength" class="error-text">password must be greater than 6 characters</p>
        </div>


      </ion-list>
    </form>
  </div>

  <div class="btn-container">
    <button ion-button block color="primary" class="btn-login" (click)="login()" [disabled]="loading">Login</button>
    <button ion-button block clear color="primary" (click)="openRegister()">Click to Register</button>
  </div>

</ion-content>