page-home {

    ion-card {
        // margin: 0 !important;
        // width: 100% !important;

        img {
            width: 100% !important;
        }
    }

    // .slide-zoom {
    //     text-align: initial;
    // }

}
