<ion-header>

  <ion-navbar color="primary">
    <ion-title>Shop</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-list>
    <ion-item *ngFor="let category of categories" (click)="openSubCat(category)">
      <ion-avatar item-start>
        <img [src]="category['image']?.src" *ngIf="category.image != null">
        <img src="assets/imgs/shop-icon.png" alt="" *ngIf="category.image === null">
      </ion-avatar>
      <h2 [innerHTML]=category.name></h2>
      <button ion-button icon clear item-end>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

</ion-content>