page-shipping {
    h3.title {
        font-size: 18px;
        color: #494444;
    }

    p.sub-title {
        font-weight: bold;
    }

    p.text {
        font-size: 14px;
        color: #494444;
        line-height: 1.5em;
    }

    em {
        font-weight: bold;
    }
}
